.footer__container {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 24px;
  color: #fff;
}

.footer__subscription > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.footer__icon__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__icon__github {
  margin-right: 1vw;
  margin-bottom: 1.5vw;
}

.footer__icon-linkedin {
  margin-left: 1vw;
  margin-bottom: 1.5vw;
}

.github__icon {
  font-size: 40px;
}
.linkedin__icon {
  font-size: 40px;
}

@media screen and (max-width: 960px) {
  .github__icon {
    font-size: 35px;
  }
  .linkedin__icon {
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) {
  .github__icon {
    font-size: 25px;
  }
  .linkedin__icon {
    font-size: 25px;
  }
}
