.title__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title__text {
  margin-top: 70px;
  margin-bottom: 20px;
  font-family: "roboto";
  letter-spacing: 0.4vw;
  /* border-bottom: 2px solid;
  border-bottom-width: 1rem; */
}

.title__underline {
  margin-top: 200px;
  background-color: grey;
  width: 6vw;
  height: 4px;
  color: grey;
  margin: auto;
}
