.title__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 80px;
}

.title__text {
  padding-top: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 48px;
}

.title__underline {
  background-color: black;
  width: 4vw;
  height: 2px;
  margin: 20px auto 5px;
}

@media screen and (max-width: 960px) {
  .title__text {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .title__text {
    font-size: 34px;
  }
}

/* @keyframes slideIn {
  from {
    transform: translateX(-600px);
  }

  to {
  }
} */
