.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
  background: rgb(238, 238, 238);
}

.video__video {
  position: relative;
  border-radius: 15px;
  max-width: 60vw;
  height: 40vh;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  z-index: 0;
  margin: 60px auto 20px;
}

.video__container {
  display: flex;
  justify-content: center;
}

.video__description__container {
  box-shadow: 6px 6px 8px rgba(103, 128, 159, 0.25);
  margin: 3vw auto 5vw;
  padding: 30px 20px 30px 20px;
  border: rgba(71, 71, 71, 0.25) solid;
  border-width: 4px;
  max-width: 860px;
  font-size: 26px;
  text-align: center;
}

.video__link {
  max-width: 340px;
  margin: auto;
  margin-bottom: 4vw;
  font-weight: 700;
  padding: 15px 20px;
  text-align: center;
  border-radius: 2px;
  font-size: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: rgb(71, 71, 71);
  border: 1px solid rgb(71, 71, 71);
}

.video__link:hover {
  font-weight: 700;
  transition: all 0.3s ease-out;
  background: rgb(71, 71, 71);
  color: white;
  transition: 0.4s;
}

@media screen and (max-width: 960px) {
  .video__video {
    max-width: 80vw;
  }
  .video__link {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .video__description__container {
    max-width: 600px;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .video__video {
    max-width: 90vw;
  }
  .video__description__container {
    font-size: 16px;
    max-width: 450px;
  }
  .video__link {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .video__description__container {
    margin-left: 4vw;
    margin-right: 4vw;
  }
  .video__link {
    margin-top: 30px;
  }
}
